<div class='text-center'>
  <div class="content-header">
    <h1>Bem-vindo!</h1>
  </div>
  <div class="content px-2">
    <div class="">
      <p> Você está logado, crie um Chat e inicie a experiência! </p>
    </div>
  </div>
</div>